<label *ngIf="!$any(label).hidden" for="" class=""
  >{{ getLabel() }} <span *ngIf="$any(label).markAsRequired">*</span></label
>
<ng-container
  *ngTemplateOutlet="inputTemplate ? inputTemplate : defaultInput"
></ng-container>

<ng-template #defaultInput
  ><ng-container [ngSwitch]="type">
    <ng-container *ngSwitchCase="'textarea'">
      <textarea
        class="
          border border-gray-300
          rounded-md
          shadow-sm
          active:border-gray-300
        "
        (input)="onChange($any($event.target).value)"
        (blur)="onTouched($any($event.target).value)"
        (keyup)="writeValue($any($event.target).value)"
      ></textarea>
    </ng-container>

    <input
      *ngSwitchCase="'checkbox'"
      class="border border-gray-300 rounded-md shadow-sm active:border-gray-300"
      type="checkbox"
      (input)="onChange($any($event.target).checked)"
      (blur)="onTouched($any($event.target).checked)"
      (change)="writeValue($any($event.target).checked)"
    />

    <input
      *ngSwitchDefault
      class="border border-gray-300 rounded-md shadow-sm active:border-gray-300"
      [type]="type"
      (input)="onChange($any($event.target).value)"
      (blur)="onTouched($any($event.target).value)"
      (keyup)="writeValue($any($event.target).value)"
    />
  </ng-container>
</ng-template>
