<div class="mx-auto my-6 justify-items-end w-max">
  <h1 class="text-xl font-semibold">Edit Course</h1>
  <form [formGroup]="form" class="flex flex-col gap-2 mx-auto mt-3" action="">
    <!-- required -->
    <section
      app-form-field
      [label]="{ value: 'Name', markAsRequired: true }"
      formControlName="name"
      class="w-60 flex flex-col gap-1"
    ></section>

    <!-- not required -->
    <section
      app-form-field
      label="Description"
      type="textarea"
      formControlName="description"
      class="w-60 flex flex-col gap-1"
    ></section>

    <!-- input projection -->
    <section
      app-form-field
      label="Type"
      [inputTemplate]="typeTpl"
      class="w-60 flex flex-col gap-1"
    >
      <ng-template #typeTpl>
        <select
          formControlName="type"
          class="
            border border-gray-300
            rounded-md
            shadow-sm
            active:border-gray-300
          "
        >
          <option *ngFor="let item of courseTypes" [value]="item">
            {{ item }}
          </option>
        </select>
      </ng-template>
    </section>

    <!--To make sure the TemplateRefs works with multiple custom templates-->
    <section
      app-form-field
      label="Category"
      [inputTemplate]="categoryTpl"
      class="w-60 flex flex-col gap-1"
    >
      <ng-template #categoryTpl>
        <select
          formControlName="category"
          class="
            border border-gray-300
            rounded-md
            shadow-sm
            active:border-gray-300
          "
        >
          <option *ngFor="let item of courseCategories" [value]="item">
            {{ item }}
          </option>
        </select>
      </ng-template>
    </section>

    <!-- style an inline checkbox with label -->
    <section
      app-form-field
      label="Is Top rated"
      type="checkbox"
      formControlName="isTopRated"
      class="mt-2 flex flex-row-reverse items-center justify-end gap-2"
    ></section>
  </form>
</div>
